*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    min-height: 100vh;
    overflow: hidden;
    color: white;

}

.main{
    position: relative;
    width: 100vh;
    min-height: 100vh;

}

.starcraft{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("./images/plane.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}

.star{
    position: absolute;
    border-radius: 50%;
}

.ragnar{
    position:absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    background: url("./images/ragnar.png") no-repeat;
    background-size: cover;
    animation: rotateragnar 1s ease-in-out infinite;
}

@keyframes rotateragnar{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
